
OPENAI_API_KEY=
USE_REAL_PROVIDERS=osm
GOOGLE_MAPS_API_KEY=
CAREROUTE_RATE_PER_MIN=20
CAREROUTE_BURST=5
CAREROUTE_API_KEYS=
CAREROUTE_DAILY_CALL_CAP=0
CAREROUTE_ALLOWED_ORIGINS=*
CAREROUTE_TRUST_XFF=1
CAREROUTE_GEOCODE_COUNTRIES=in
CAREROUTE_REQUIRE_SHARED_STATE=0
CAREROUTE_SESSION_TTL=1800
CAREROUTE_PG_AUTO_MIGRATE=1
